<div class="d-flex vh-100"> <!-- Sidebar -->
  <!-- <div class="bg-light border-end p-3" style="width: 260px;" *ngIf="!collapsed">
    <h5 class="mb-3">Resumes</h5>
    <button class="btn btn-primary w-100 mb-3">+ New Resume</button>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of history">{{item}}</li>
    </ul>
  </div>  -->
  <!-- Main -->
  <div class="flex-grow-1 d-flex flex-column"><!-- Header -->
    <div class="border-bottom p-2 d-flex justify-content-between">
      <button class="btn btn-sm btn-outline-secondary" (click)="collapsed = !collapsed">☰</button>
      <h6 class="m-0">AI Resume Builder</h6>
      <div style="font-size: 12px; font-weight: 700;">
        <!-- <div class="justify-content-end">User: {{ portalId }} </div>
        <div class="justify-content-end">Session ID: {{ sessionId }} </div> -->
      </div>
    </div>

    <div class="chatbot" style="margin-top: auto; max-height: 92%;" [ngStyle]="{ 'margin-top' : (this.chatbot && this.chatbot.messages.length == 0) ? '250px' : 'auto'}">
        <app-chatbot #chatbot (newMessageAdded)="onNewMessageAdded()"></app-chatbot>
    </div>
  </div>
</div>